@model System.Collections.Generic.List<CollegeWebApp.Models.BookDTO>
@{
    string jpegPrefix = "data:image/jpeg;base64,";
}

@if (ViewBag.Permit)
{   
<div class="row m-2">
    <a asp-action="Add" class="btn btn-success" >Add new book</a>
</div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="400px" src="@(jpegPrefix + item.Cover)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Author</p>
                    <a class="btn btn-primary" asp-controller="Books" asp-action="DownloadPdf" asp-route-bookId="@item.Id">Download PDF</a>
                    @if (ViewBag.Permit)
                    {
                        <div class="p-1">
                            <a class="btn btn-danger" asp-action="Delete" asp-route-bookId="@item.Id">delete</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-bookId="@item.Id">edit</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>